.icon {
    position: relative;
    background: url(../assets/blueprint-pattern-for-icon.png);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 35%;
}

.icon a {
    position: absolute;
    top: 20px;
    left: 20px;
}

.icon svg {
    width: 16px;
    margin: -2px 5px 0 0;
}

.text {
    flex-basis: 65%;
    padding-left: 40px;
}

.text h1 {
    margin-bottom: 20px;
    font-size: 48px;
}

.text .links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.table-config .col {
    padding: 40px 20px 40px 0;
    display: flex;
    gap: 10px;
}

.table-config a {
    background-color: rgba(0, 60, 166, 0.05);
}

.table-config a:hover {
    background-color: rgba(0, 60, 166, 0.2);
}

@media (max-width: 992px) {
    .text {
        padding-left: 0;
        padding-top: 20px;
    }
}

@media (max-width: 764px) {
    .product-info .col {
        flex-basis: 100%;
    }

    .icon {
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .text {
        padding: 20px 10px 0 10px;
    }
}

@media (max-width: 415px) {
    .table-config .col {
        padding: 40px 20px 20px 10px;
    }
}

