/* Header */
header {
    background-image: url(../assets/header.png);
    background-size: cover;
    background-position: 0 20px;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--text);
}

header .text-container {
    width: 50%;
    padding-top: 50px;
}

header .text-container * {
    align-self: flex-start;
}

header p {
    font-size: 18px;
    margin: 10px 0 20px 0;
}

/* /Header */

/* Products */

section#products {
    position: relative;
    display: flex;
}

/* / Products */

/* Proyectos */

#proyectos h2 {
    color: white;
}

#proyectos .section-desc {
    color: #E4E4E4;
}

.tag-item {
    font-size: 18px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    transition-duration: 0.5s;
}

.tag-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.tag-item.active {
    background-color: white;
    color: var(--primary);
}

#proyectos .image.card {
    height: 600px;
}

#proyectos .image.card:hover {
    box-shadow: 0px 15px 100px 0px rgba(0, 39, 107, 0.9);
}

/* Benefits */

#benefits .card {
    width: 85%;
}

#benefits .card img {
    object-fit: cover;
}

.argument {
    display: flex;
    margin-top: 30px;
}

.argument .content {
    text-align: left;
    margin-left: 10px;
}

.argument img {
    width: 60px;
}

.argument:last-child {
    margin-bottom: 30px;
}

/* / Benefits */

/* Reviews */

.review {
    font-size: 40px;
}

#reviews .carousel-control-next, #reviews .carousel-control-prev {
    width: 15%;
    position: relative;
}

#reviews .carousel-control-next-icon, #reviews .carousel-control-prev-icon {
    background-color: rgba(255, 255, 255, 0.27);
    border-radius: 50%;
    padding: 10px;
    background-origin: content-box;
    width: 50px;
    height: 50px;
    
}

.client .icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin-right: 20px;
}

/* / Reviews */

/* Articles */

#articles .card {
    height: 500px;
}

#articles .card:hover {
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);
}

/* / Articles */

/* FAQ */

.accordion {
    width: 80%;
}

.accordion-item:first-of-type {
    border-top: 0;
    border-radius: 0;
}

.accordion-item:last-of-type {
    border-bottom: 0;
    border-radius: 0;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    box-shadow: none;
}

.accordion-button {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    color: black !important;
}

.accordion-body {
    text-align: left;
}

.accordion-body p {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 2px solid var(--primary);
}

.accordion-button:after {
    order: -1; 
    margin-right:0.5em; /* just extra space between text and icon */
    margin-left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='rgb(0, 60, 166, 1)' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 5v14m7-7H5' /%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='rgb(0, 60, 166, 1)' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' d='M5 12h14' /%3E%3C/svg%3E");
}

/* / FAQ */

