header {
    margin-top: 90px;
    padding: 120px 0;
    overflow: hidden;
}

header .container {
    height: 100%;
    text-align: center;
}

header h1 {
    font-size: 52px !important;
    max-width: 60%;
} @media (max-width: 764px) {
    header h1 {
        max-width: 100%;
    }
}

header .container p {
    margin: 30px;
}

#products .row {
    justify-content: space-between;
}

#products .col {
    flex-basis: 33.33%;
    margin-bottom: 25px;
}

#products .card {
    height: 100%;
}