<link rel="stylesheet" href="https://use.typekit.net/gce3vuo.css">

* {
    font-family: 'Lato', sans-serif;
}

:root {
    --primary: #003CA6;
    --light-primary: #EFF3FD;
    --secondary: #FAB429;
    --tertiary: #BD3C37;
    --text: #757575;
}

/* Titles */

h1, h2, h3, h4, h5 {
    font-weight: bolder !important;
    color: #212121;
}

h2 {
    font-size: 40px;
}

h4 {
    font-weight: 600 !important;
}

/* Buttons */

.primary {
    border: 0;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--secondary);
    padding: 15px 50px ;
    border-radius: 5px;
    transition-duration: 0.5s;
}

.primary:hover {
    background-color: var(--tertiary);
    color: white;
}


.secondary {
    font-size: 18px;
    /* font-weight: 500; */
    background-color: var(--light-primary);
    padding: 5px 20px ;
    border-radius: 5px;
    border: 1px solid var(--primary);
    transition-duration: 0.5s;
}

.secondary:hover {
    background-color: var(--tertiary);
    color: white;
    border: 1px solid var(--tertiary);
}


/* sections */

section {
    padding: 120px 0;
    color: var(--text);
}

.section-desc {
    font-size: 20px;
}

.blueprint-bg {
    background-image: url(../assets/blueprint-pattern.jpg);
    background-size: cover;
    color: white;
}

.blueprint-bg h1, .blueprint-bg h2, .blueprint-bg h3, .blueprint-bg h4 {
    color: white;
}

.blueprint-bg .section-desc {
    color: #E4E4E4;
}